language: java
sudo: required
services:
  - docker
script:
  -  docker build -t gcr.io/bimal-157419/bimal/java -f Dockerfile.dev .
after_success:
  # Take those images and push them to docker hub
  - docker login -u "oauth2accesstoken" -p "$PASSWORD" https://gcr.io/bimal-157419
  - docker  push gcr.io/bimal-157419/bimal/java:latest
